<div class="container">

      <div class="left">
        <img src="/img/user-login.png" alt="Login illustration" />
      </div>

      <div class="right">
        <h1>Bienvenido</h1>
        <h2>DocSafe</h2>

        <form class="form-group" (ngSubmit)="login()">
          <input id="nombre" placeholder="Nombre"   name="nombre" [(ngModel)]="nombre" required>
          <input type="password" id="contrasena" placeholder="Contraseña"  name="contrasena" [(ngModel)]="contrasena" required>
          <button class="register-btn" type="submit" [disabled]="!nombre || !contrasena">Iniciar Sesión</button>
        </form>


      <a class="login-link" (click)="irARegistro()">¿No tienes cuenta? Regístrate</a>

        <!--<div class="firma">
      <img src="/public/img/user-login.png" alt="Logo" />
    </div>-->
      </div>
</div>
